<!DOCTYPE html>
<html>
    {{ partial "head" . }}
    <body>
        {{ partial "header.html" . }}
        <div id="content">
          <section class="home-main wrapper">
            <h2>Manjaro-X GNU/Linux
              </br>Sederhana, Kuat,
              </br>dan Elegan.</h2>
            <p>Manjaro-X adalah Distribusi GNU/Linux LTS tak resmi Manjaro <br>
              dengan Lingkungan Destop GNOME yang dibuat khusus<br>
              untuk Pengguna Awam, Desainer, Animator,<br>
              Penyunting Film, dan Developer GTK.</p>
            <img src="{{.Site.BaseURL}}/img/pages/home-catch.svg" alt="{{ .Site.Title }}" class="home-main-img">
            <div class="home-main-control">
              <a class="btn btn-primary" href="{{ .Site.Data.common.links.unduh }}" target="_blank" rel="nofollow">Unduh {{ .Site.Data.common.links.gnome }}</a>
              <a class="btn btn-normal" href="{{ .Site.Data.common.links.kodeSumber }}">Kode sumber</a>
            </div>
          </section>
          <section class="home-section home-feature">
            <ul class="home-feature-list">
              <li>
                <div class="wrapper">
                  <div class="home-section-ttl">
                    <h2>GNOME Lingkungan Destop</h2>
                    <p>Prinsip GNOME adalah kesederhanaan dan kemudahan dalam pengoperasiannya untuk setiap orang. GNOME akan mempermudah pengguna untuk mengoperasikan destop dan aplikasinya. Pengguna termasuk teman, murid, keluarga dan tetangga Anda sekalipun.</p>
                  </div>
                  <img src="{{.Site.BaseURL}}/img/pages/home-gnome.webp" alt="GNOME">
                </div>
              </li>
              <li>
                <div class="wrapper">
                  <div class="home-section-ttl">
                    <h2>Kernel LTS</h2>
                    <p>Menggunakan Kernel LTS (Long Term Support) maka sistem di bawah kernel seperti CPU, Memori, dan Device akan lebih stabil mempunyai keamanan yang lebih baik. Sehingga tidak mengganggu performa dan tetap bekerja seperti seharusnya.</p>
                  </div>
                  <img src="{{.Site.BaseURL}}/img/pages/home-kernel-lts.webp" alt="LTS-kernel">
                </div>
              </li>
              <li>
                <div class="wrapper">
                  <div class="home-section-ttl">
                    <h2>Encoding Multimedia</h2>
                    <p>Secara baku Manjaro belum didukung penuh untuk memutar musik dan film, dengan Manjaro-X paket-paket yang dibutuhkan untuk memutar multimedia sudah dimasukkan, seperti Gstreamer dan FFMPEG. Jadi Anda bisa memutar audio dan video apapun.</p>
                  </div>
                  <img src="{{.Site.BaseURL}}/img/pages/home-multimedia.webp" alt="multimedia">
                </div>
              </li>
              <li>
                <div class="wrapper">
                  <div class="home-section-ttl">
                    <h2>Libreoffice Alat Perkantoran</h2>
                    <p>Menggunakan Libreoffice adalah salah satu cara untuk menggunakan ODF (Open Document Format), seperti ODT, ODP, dan ODS. Dengan dukungan Bahasa Indonesia Libreoffice di Manjaro-X sudah siap digunakan untuk perkakas perkantoran oleh siapa saja.</p>
                  </div>
                  <img src="{{.Site.BaseURL}}/img/pages/home-libreoffice.webp" alt="Libreoffice">
                </div>
              </li>
              <li>
                <div class="wrapper">
                  <div class="home-section-ttl">
                    <h2>Mode gelap dan terang</h2>
                    <p>Merubah tema gelap dan terang begitu mudah. Anda cukup membuka ALT+F2 kemudian ketik 'darkmode' atau 'lightmode' dan voilaa...</p>
                  </div>
                  <img src="{{.Site.BaseURL}}/img/pages/home-switch.webp" alt="Switch">
                </div>
              </li>
              <li>
                <div class="wrapper">
                  <div class="home-section-ttl">
                    <h2>Aplikasi desain</h2>
                    <p>Wujudkan mimpimu menjadi desainer handal dengan Manjaro-X. Inkscape, Gimp, Blender sudah menjadi aplikasi yang harus ada.</p>
                  </div>
                  <img src="{{.Site.BaseURL}}/img/pages/home-desain.webp" alt="Desain">
                </div>
              </li>
            </ul>
            <div class="wrapper home-feature-plugin">
              <h3>Dan masih banyak lagi...</h3>
              <img src="{{.Site.BaseURL}}/img/pages/home-gtk-aplikasi.webp" alt="Aplikasi Manjaro-X">
            </div>
          </section>
          <section class="home-section home-price">
            <div class="home-section-ttl wrapper">
              <h2>Edisi lainnya.</h2>
              <p>Pilih edisi Manjaro-X yang Anda butuhkan.</p>.</p></p>
            </div>
            <div class="home-price-wrap wrapper">
              <div class="home-price-push">
                <h3>{{ .Site.Data.home.price.push.label }}</h3>
                <ul>
                  {{ range .Site.Data.home.price.push.plans }}
                    <li>
                      <h3>{{ .name }}</h3>
                      <div class="home-price-plan">
                        Ukuran .ISO
                        <span class="home-price-plan-price">{{ .price | safeHTML }}</span>
                      </div>
                      <div class="home-price-plan-detail">
                        <dl>
                          <dt>Versi</dt>
                          <dd>{{ .versi }}</dd>
                        </dl>
                        <dl>
                          <dt>Build</dt>
                          <dd>{{ .build }}</dd>
                        </dl>
                      </div>
                      <a class="btn btn-normal" href="{{ .button.link }}">{{ .button.label }}</a>
                    </li>
                  {{ end }}
                </ul>
              </div>
              <div class="home-price-pull">
                <h3>{{ .Site.Data.home.price.pull.label }}</h3>
                <ul>
                  {{ range .Site.Data.home.price.pull.plans }}
                    <li>
                      <h3>{{ .name }}</h3>
                      <div class="home-price-plan">
                        Ukuran .ISO
                        <span class="home-price-plan-price">{{ .price | safeHTML }}<br>Rilis disarankan.</span>
                      </div>
                      <div class="home-price-plan-detail">
                        <dl>
                          <dt>Versi</dt>
                          <dd>{{ .versi }}</dd>
                        </dl>
                        <dl>
                          <dt>Build</dt>
                          <dd>{{ .build }}</dd>
                        </dl>                                            
                      </div>
                      <a class="btn btn-normal" href="{{ .button.link }}">{{ .button.label }}</a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
            <div class="home-price-control">
              <a class="page-link" href="{{ .Site.Data.common.links.dokumentasi }}">
                Dokumentasi
              </a>
            </div>
          </section>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
