// color
$color-white: #FFFFFF;
$color-gray-1: #333333;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #e3e3e3;
$color-primary: #3584E4;

$content-background: #F8F8F8;
$color-gradient: linear-gradient(92.57deg, #15539E 0%, #6235E4 21.35%, #9735E4 45.83%, #35C2E4 100%);

// font
$font-size-catch: 63px;
$font-size-xl: 50px;
$font-size-l: 30px;
$font-size-m: 20px;
$font-size-s: 17px;
$font-size-xs: 15px;
